html {
  font-size: 62.5%;
  --gray: #969696;
  --dark-gray: #2b2b2b;
  --light-gray: #e6e6e6;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: var(--dark-gray);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
