.header {
  background-image: url(../../assets/pattern-bg.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 4rem 10rem;
  position: relative;
}

.title {
  margin: 0;
  margin-bottom: 2rem;
  color: #fff;
  font-size: 3.2rem;
  font-weight: 500;
}

.input {
  width: 50%;
  padding: 1.6rem;
  border: none;
  border-radius: 8px;
  font-size: 1.8rem;
}
